<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coding.mapper.Mapper">
<!-- 게시판 -->
 	<insert id="create" > 
 	INSERT INTO TBL_BOARD (TITLE, CONTENT, WRITER)
 	VALUES (#{title}, #{content}, #{writer} )
 	</insert>
 	
 	<select id="read" resultType="com.coding.vo.BoardVO">
 	SELECT BNO, TITLE, CONTENT, WRITER, REGDATE, VIEWCNT
 	FROM TBL_BOARD
 	WHERE BNO = #{bno}
 	</select>
 	
 	<update id="update">
 	UPDATE TBL_BOARD SET TITLE =#{title}, CONTENT =#{content}
 	WHERE BNO = #{bno}
 	</update>
 	
 	<delete id="delete">
 	DELETE
 	FROM TBLE_BOARD
 	WHERE BNO = #{bno}
 	</delete>
 	
 	<select id="listAll" resultType="com.coding.vo.BoardVO">
 	<![CDATA[
 	SELECT BNO, TITLE, CONTENT, WRITER, REGDATE, VIEWCNT
 	FROM TBL_BOARD
 	WHERE BNO > 0
 	ORDER BY BNO DESC, REGDATE DESC
 	]]>
 	</select>
<!-- 게시판 끝 -->

<!-- 회원 -->
	<insert id="createMember" > 
 	INSERT INTO MEMBER (user_Id, user_Name, user_Email, user_NickName, user_RegDate)
 	VALUES (#{user_Id},#{user_Name},#{user_Email},#{user_NickName},#{user_RegDate})
 	</insert>
 	
 	<update id="infoMember">
 	UPDATE MEMBER SET TITLE =#{title}, CONTENT =#{content}
 	WHERE BNO = #{bno}
 	</update>
<!-- 회원 끝-->
<!-- private String user_Id;
	private String user_Name;
	private String user_Email;
	private String user_NickName;
	private String user_RegDate; 
	
	public void createMember(MemberVO vo)throws Exception; //회원생성 c
	public List<MemberVO> listMember()throws Exception; //전체 회원 조회 r
	public void infoMember(MemberVO vo)throws Exception; //회원 상세조회 u
	public void deleteMember(MemberVO vo)throws Exception; //회원탈퇴 d
	-->
</mapper>